<!DOCTYPE html>
<html>

<head>
  <title>ToMeFromMe</title>
  <%- include('../components/styles.ejs') %>
  <link rel="stylesheet" type="text/css" href="/stylesheets/letter.css"
  media="screen and (min-width:769px)"/>
  <link rel="stylesheet" type="text/css" href="/stylesheets/chevron.css" />
  <link href="https://fonts.googleapis.com/css2?family=Mrs+Saint+Delafield&display=swap" rel="stylesheet" />
  <link
          rel="stylesheet"
          href="/stylesheets/letter-mobile.css"
          media="screen and (max-width:768px)"
  />
</head>

<body>
  <%- include('../components/header.ejs') %>
  <div class="letter-wrap" id="letter-wrap">
    <span id="to">to me,</span>
    <div class="letter-up">
      <div class="letter-back button" id="btn1" onclick="prevBtn()">
        <img id="prev" src="/images/icons/chevron-back-outline.svg">
      </div>
      <div class="letter-forward button" id="btn" onclick="nextBtn()">
        <img id="next" src="/images/icons/chevron-forward-outline.svg">
      </div>
      <div id='letter-wrap-content' class="letter-wrap-content">
        <% var number=1;%>
        <%content.letters.forEach(function(ltr){%>
        <div id=<%='letter'+String(number)%>><%-ltr%></div>
        <% number++;%>
        <%})%>
      </div>
    </div>
    <div class="letter-bottom" id="letter-bottom">
      <span id="date">
        <%= content.date.substring(0,10).replace('-','.').replace('-','.');%>
      </span>
      <span id="from">from me.</span>
      <ul id="letter-number-list" class="letter-number-list">
        <%number=1;%>
        <%content.letters.forEach(function(ltr){%>
        <li class="letter-number" id=<%=String(number)%>><%-number%></li>
        <%number++;%>
        <%})%>
      </ul>
    </div>
    </div>
  </div>
  <img src="/images/mailview-envelope.png" id="envelope">
  <img src="/images/mailview-envelope-mobile.png" id="envelope-mobile">
  <img src="/images/icons/chevron-up-circle-outline.svg" id="top-btn" onclick="topFunction()">
  <div class="footer">© 2020 XXIT</div>
  <script type="text/javascript" src="/javascript/letterView.js"></script>
  <script type="text/javascript" src="/javascript/totop.js"></script>
</body>

</html>